body {
    background: #eee;
}

#wrapper, body {
    max-width: 1300px;
    margin: auto;
}

header {
    overflow: hidden;
    height: 140px;
}

.search {
    margin-left: .5rem;
}

.cardContainer {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 425px;
}

.cardContainer:hover .card {
    transform: rotateY(180deg);
}

.card {
    position: absolute;
    border: none !important;
    width: 100%;
    height: 100%;
    margin: 1rem;
    transform-style: preserve-3d;
    transition: all .7s ease;
    background: #eee;
}

.front {
    position: absolute;
    backface-visibility: hidden;
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}